* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

.box {
  background-color: red;
  display: inline-block;
  width: 400px;
  height: 400px;
}
section {
  position: relative;
  top: 50px;
  left: 25%;
  margin-bottom: 5px
}
