* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}
section {
  position: relative;
  top: 50px;
  left: 25%;
  margin-bottom: 5px
}

.box {
  position: relative;
  display: inline-block;
}


h2 {
  position: absolute;
  top: 0;
  right: 0;
}
